article
  h1 KAIKKI VAIKUTTAMISEN PALVELUT SUOMESSA JA MAAILMALLA
  p Kun haluat tehdä vaikutuksen ihmisten mieliin tai käyttäytymiseen, ota yhteyttä. Valitsemme sinulle tavoitteisiisi parhaiten sopivan tiimin ja maan laajimmasta palveluvalikoimastamme parhaat vaihtoehdot.
  p SEK on osa Salomaa Groupia, jonka palveluksessa on yhteensä yli 400 vaikuttamisen ammattilaista. Saat kauttamme tulokselliseen tiimityöhön mukaan myös media- ja tutkimustoimistojen vahvimmat voimat: Dagmarin tai Mediatoimisto Voiton ja Qualitemsin
  p Kansainvälisen ketjumme WPP:n kautta saat tarvittaessa tueksesi 2 400 markkinointitoimistoa 107 maassa, Starcom-ketjun kautta 110 mediatoimistoa 67 maassa ja Cohn & Wolfe -ketjun kautta lähes 60 viestintätoimistoa ympäri maailman.


article.palvelu
  h1 BRÄNDI- JA MARKKINOINTI­STRATEGIAT
  p Kun haluat tehdä vaikutuksen ihmisten mieliin tai käyttäytymiseen, ota yhteyttä. Valitsemme sinulle tavoitteisiisi 
  ul
    li Nykytilan ja tavoitteiden määrittely
    li Kilpailuedun tunnistaminen
    li Analyysit
    li Strategian suunnittelu
    li Brändin positiointi
    li Brändihierarkian määrittely
    li Markkinoinnin optimointi
  p Kun haluat parantaa markkinointisi tuloksellisuutta, ota yhteyttä.
  hr
  p(style='white-space:pre;') Topi Lintukangas
    | toimitusjohtaja
    | +358 40 167 6300

article.palvelu
  h1 KANSAINVÄLISTYMISSTRATEGIAT
  ul
    li Kansainvälistymisstrategiat
    li Kansainvälinen toimintamalli
    li Markkina-analyysit ja tarpeiden kartoittaminen
    li GREY-, WPP- ja Cohn & Wolfe -toimistot kumppaneina maailmanlaajuisesti
    li Rakenteiden, työkalujen ja prosessien kehittäminen
  p Kun haet kasvua Venäjältä, Baltiasta, Pohjoismaista tai mistä päin maailmaa tahansa, ota yhteyttä.
  hr
  p(style='white-space:pre;') Topi Lintukangas
    | toimitusjohtaja
    | +358 40 167 6300

article.palvelu
  h1 MAINONTA
  ul
    li Kanavariippumattomat markkinointiviestinnän konseptit
    li Myyntiä ja brändin arvoa kasvattavat toimenpiteet
    li Brändinhallinta
    li Kansainväliset toimenpiteet
  p Kun haluat parantaa markkinointisi tuloksellisuutta, ota yhteyttä.
  hr
  p(style='white-space:pre;') Topi Lintukangas
    | toimitusjohtaja
    | +358 40 167 6300