article.palvelu
        h1 TESTI
        p Kun haluat tehdä vaikutuksen ihmisten mieliin tai käyttäytymiseen, ota yhteyttä. Valitsemme sinulle tavoitteisiisi 
        ul
          li Nykytilan ja tavoitteiden määrittely
          li Kilpailuedun tunnistaminen
          li Analyysit
          li Strategian suunnittelu
          li Brändin positiointi
          li Brändihierarkian määrittely
          li Markkinoinnin optimointi
        p Kun haluat parantaa markkinointisi tuloksellisuutta, ota yhteyttä.
        hr
        p(style='white-space:pre;') Topi Lintukangas
          | toimitusjohtaja
          | +358 40 167 6300