div(ng-include='"components/navbar/navbar.html"')

.header
  h1 Sek ProtoYoYX
.page.block-group
  .hero


//- <article class="repeated-item content-article" ng-repeat="item in sek0.items| filter:item" ng-model="item.ordered"  ng-animate=" 'animate' "  draggable="true"  >
//- 	<h1 class="">{{item.header}}</h1>
//- 	<span>id: {{item.id}}</span>
//- 	<span>page: {{item.page}}</span>
//- 	<span>cat: {{item.cat}}</span>
//- 	<span>subcat: {{item.subCat}}</span>
//- 	<h2>{{item.subHeader}}</h2>
//- 	<p>{{item.para1}}</p>
//- 	<p>{{item.para2}}</p>
//- 	<p>{{item.para3}}</p>
//- 	<p>{{item.para4}}</p>
//- 	<p>{{item.para5}}</p>
//- 	<p>{{item.para6}}</p>
//- </article>
