/* Brand colors */
sekblue = rgba(80, 45, 210, 1)
sekgrey = rgba(230, 230, 230, 1)
sekviolet = rgba(180, 120, 255, 1)
sekskin = rgba(255, 215, 170, 1)
sekgreen = rgba(190, 255, 125, 1)
sekred = rgba(255, 150, 150, 1)
sekblack = rgba(0, 0, 0, 0.9)
sekwhite = rgba(255, 255, 255, 1)
bg-color = sekblue
page-color = sekgrey

/* Other colors */