div(ng-include='"components/navbar/navbar.html"')

.header
  .button.button-1(ng-click="kissa = !kissa")   
      h4 toggle StyleTile / PROTO
  h1(ng-show="kissa") Style guide
  h1(ng-hide="kissa") Proto
  

.page.block-group(ng-show="kissa")
  //- .hero 
    
  .aside 
  .main
    .logo
    .sample
      h3 Samples
       h1 Bolder the headline 
         strong Bolder 
         | the typeface
       hr
       h3 The standout must stand out
       h2 Even the subheadlines can look good
       p The new visual identity is a facelift from the previous one but it’s designed to live and react more in time. It is designed to be simple, flexible, efficient, rich, distinctive and powerful. It helps us to tell our story in a modern way. In many different channels. For current and new clients.
       p But most significantly it allows us to be creative (and still get paid).
       a(href='#') This is an example of a text link.
       hr
       
       
       
    .adjectives
      p.adjective inspiration
      p.adjective attitude
      p.adjective thinking
      p.adjective methods
      p.adjective goals
      p.adjective ways to deliver
      p.adjective possibilities
      p.adjective you
      p.adjective more for our clients
    .typo
    hr
    .elements 
      h2 Elements
      .buttons
      h3 Button swatches
        ul.buttons
          li.button-1.button 1
          li.button-2.button 2
          li.button-3.button 3
          li.button-4.button 4
    hr
    .images 
      h2 Brand Images
  .secondary 
    .colors
      h3 Colour swatches
        ul.colors
          li.color-1
          li.color-2
          li.color-3
          li.color-4
          li.color-5
          li.color-6
    .gradients
       h3 Gradient swatches
        ul.gradients
          li.gradient-1








//- header#banner.hero-unit
//-   .container
//-     h1 'Allo, 'Allo! Sek
//-     p.lead Kick-start your next web app with Angular Fullstack
//-     img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.page.proto.block-group(ng-hide="kissa")
  .hero 
    
  .aside 
  .main
    section.intro
      article
        h1 Intro
        p Muuttuva maailma voi pysähtyä pelkäämään. Valta on Sinulla. Kaivetaan esiin oikea asenne, oikea ajattelu ja oikeat teot. Tehdään parempaa markkinointia.
        hr

    section.blogi
      h1 blogi 
      div(ng-include='"app/data/blogi.html"')

    section.kulmakivet
      article
        h1 Oikea asenne
        p Voittaminen on tahtolaji

      article
        h1 Oikea ajattelu
        p Rajattomasti Avarasti Yllättävästi Vastuullisesti Laajasti Oivaltavasti Kuunnellen Keskustellen Leikkisästi Hullutellen Luonnollisesti TerävästiAsenteettomasti Asenteellisesti Kansainvälisesti Iholla SilmilläKorvilla Nenällä Vatsalla Lompakolla Vyötäröllä Geeneillä HormoneillaVieteillä Vaistolla Tunteella Excelillä Faktoilla AivoillaJärkevästi Järjettömästi Sydämellä Eläytyen Kokeellisesti SyvästiKorkealta Hipaisten Heittäytyen Tunnustellen Yhdistellen Ymmärtäen Tajuten Oppien Viisastuen Uskaltaen Useammin Pidempään Enemmän

      article
        h1 Oikeat teot
        p Valitse yksi asia, jossa päätät olla paras. Maailman paras. Ajattele. Pidemmälle. Pidempään.Sitoudu siihen mihin ryhdyt.Heittäydy rohkeasti. Rohkaise muita.Uskalla epäonnistua. Opi virheistä.Todista puheesi teoilla.Näytä tietä myös takana tuleville.Tee asiakkaittesi asiakkaista voittajia.Tee asiakkaistasi voittajia.


    section#arvoSlider.arvot.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#arvoSlider', data-slide-to='0')
        li(data-target='#arvoSlider', data-slide-to='1')
        li(data-target='#arvoSlider', data-slide-to='2')
        li(data-target='#arvoSlider', data-slide-to='3')
        li(data-target='#arvoSlider', data-slide-to='4')
        li(data-target='#arvoSlider', data-slide-to='5')
        li(data-target='#arvoSlider', data-slide-to='6')
        // li(data-target='#arvoSlider', data-slide-to='2')

      .carousel-inner
        article.item.active
          h1 Ylpeys - AVOIMUUS
          p Unohdetaan ylimielinen starakulttuuri. Se joka luuduttaa ajattelun, lukitsee tavat ja jämähdyttäämakaamaan menneiden saavutusten päällä. Kunluulee hallitsevansa kaiken, ei kehity. Ei sulkeudutalatistamaan muita ja onanoimaan omalla erinomaisuudella.Pidetään ovet auki uudelle.

        article.item
          h1 Kateus - ROHKEUS
          p Kateus on surkeinta pelkuruutta. Se repii alas onnistujat, kahlitsee mielen ja näivettää nysväämään. Opetellaan uusi menestymisen kulttuuri. Kun joku menestyy, nostetaan lippu salkoon. Hurrataan sille, joka vie koko alaa eteenpäin. Peesataan imussa ja tempaistaan vuorollaan vauhdittamaan.

        article.item
          h1 Kauna - KUMPPANUUS
          p Kateus on surkeinta pelkuruutta. Se repii alas onnistujat, kahlitsee mielen ja näivettää nysväämään. Opetellaan uusi menestymisen kulttuuri. Kun joku menestyy, nostetaan lippu salkoon. Hurrataan sille, joka vie koko alaa eteenpäin. Peesataan imussa ja tempaistaan vuorollaan vauhdittamaan.

        article.item
          h1 Laiskuus - INTOHIMO
          p Kavahdetaan henkistä laiskuutta ja selkärangattomuutta. Ei jäädä ensimmäiseen ajatukseen, mutta ei myöskään vaihdeta näkemystä joka tuulen mukana. Ei tyydytä olemaan kasiplushyvä Suomessa. Halutaan olla maailman paras. Jossain. Ja sitoudutaan tekemään kaikkemme sen puolesta.

        article.item
          h1 Ahneus - VASTUULLISUUS
          p Jätetään ahneus moukille. Kaihdetaan alan ryvettämistä piittaamattomalla pikavoittojen napsinnalla, nulikkamaisella egon pönkityksellä ja matalimpia aitoja etsimällä. Mitä markkinoinnin etujoukko edellä, sen kaikujen mukaan kuljetaan niin pörssiyhtiöissä, peruskouluissa kuin pientareilla.

        article.item
          h1 Ylensyönti - NÄKEMYKSELLISYYS
          p Unohdetaan ylimielinen starakulttuuri. Se joka luuduttaa ajattelun, lukitsee tavat ja jämähdyttäämakaamaan menneiden saavutusten päällä. Kunluulee hallitsevansa kaiken, ei kehity. Ei sulkeudutalatistamaan muita ja onanoimaan omalla erinomaisuudella.Pidetään ovet auki uudelle.

        article.item
          h1 Himo - TULOKSELLISUUS
          p Napa paukkuu, jos nauttii kaikkea kaikilta. Ei kukaanjaksa, jos punkee kymmenen viestiä kymmeneensekuntiin. Tai yhteen sivuun. Kirkastetaan strategiatja viestit. Karsitaan turha ja keskitytään tärkeimpään.Ollaan rehdisti mieltä, ei lässähdetä palvomaankaikkien kieltä.

      a.left.carousel-control(href='#arvoSlider', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
        
      a.right.carousel-control(href='#arvoSlider', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right

    section.slogan
      article
        h3 Vuodet ja tekijät vaihtuvat — Asenne pysyy. Kumulatiivistä markkinointia vuodesta 1935.

    section.tarina
      article
        h1 Sek-tarina
        p Uusi vuosi 1935 on juuri alkanut. Ateneumissa graafikoiksi opiskelevatJorma Suhonen,&nbsp;Holger Erkelenz&nbsp;ja&nbsp;Aarno Knuus&nbsp;haaveilevat SEK-nimisen piirtämön perustamisesta. Samaan aikaan&nbsp;Aarne Salomaapoikkeaa työtovereittensa kanssa lounaalle Kämpiin. Viereisessä pöydässä istuu niin viehättävä neito, että herrat lyövät vetoa siitä, saako Aarne kutsuttua hänet viikon kuluessa päivälliselle. Vaan neitopa ilmoittaa viileästi, että hän ei illasta tuntemattomien kanssa.
        p Tyttö opiskelee Ateneumissa, joten Aarne järjestää itsensä sinne pitämään luennon  mainonnasta. Pahaksi onneksi tyttö ei ole kuulijoiden joukossa. Vasta toisella luentokerralla tyttö istuu eturivissä. Silloin Aarne marssii tytön luo ja kysyy, joko he nyt ovat parempia tuttuja. Vastaus on myönteinen, ja pariskunta nähdään samana iltana päivällisellä Kämpissä
        p Myös Jorma, Holger ja Aarno ovat kuuntelemassa luentoa. Sen innoittamana he ovat nyt varmoja, että on aika toteuttaa unelma. Lauantaina 9. päivä helmikuuta laaditaan Kämpin korttelissa, Mikonkadun ja Esplanadin kulmatalossa, perustusasiakirja. Näin syntyy O.Y. SEK A.B.
        p Muutama vuosi myöhemmin toimitusjohtajaksi ja sittemmin myös omistajaksi kutsutaan Aarne Salomaa, joka ryhtyy kehittämään mainostoimistoa suomalaisen liikkeenjohdon arvostamaksi kumppaniksi. Vuosikymmenien kuluessa toimisto kasvaa, kehittyy ja muuttaa Bulevardilta Sokoksen-talon kautta Annankadulle.
        p SEK on mukana rakentamassa Suomen menestyksekkäimpiä brändejä. Asiakkaiden kansainvälistyessä luodaan yhteys&nbsp;Grey Group&nbsp;-ketjuun. Asiakkaiden palvelutarpeiden laajentuessa perustetaan uusia yhtiöitä varmistamaan parhaat tekijät ja osaamisen jatkuva kehittäminen.
        p Tänä päivänä SEK on osa Pohjoismaiden suurinta perheomisteista markkinointi- ja konsultointipalveluja tarjoavaa Salomaa Groupia. SEK tekee tuloksellista vaikuttamista viiden yhtiön voimin: markkinointitoimisto SEK &amp; GREY, asiakkuustoimisto SEK Loyal, tuotantotoimisto SEK Point, viestintätoimisto SEK Public sekä konsultointi- ja valmennustoimisto Perfecto.

    section.firmat
      h1 Yhtiöt (this gomes from Mongo)
      article(ng-repeat='thing in awesomeThings')
        h1 {{thing.name}}
        h2 {{thing.toimiala}} 
        p {{thing.osoite}} 
        p {{thing.puhelin}}
        p {{thing.emails}} 
        p {{thing.kontakti}}
        p {{thing.titteli}}
        p {{thing.kontaktipuh}}  

    section.asiakkaat
      h1 Asiakkaat 
      div(ng-include='"app/data/asiakkaat.html"')

    section.palkinnot
      h1 Palkinnot 
      div(ng-include='"app/data/palkinnot.html"')

    section.rekrytointi
      h1 Rekrytointi 
      div(ng-include='"app/data/rekrytointi.html"')

    section.kontakti
      h1 Kontakti 
      div(ng-include='"app/data/kontakti.html"')

 