div(ng-include='"components/navbar/navbar.html"')

.header
  //- .button.button-1(ng-click="kissa = !kissa")   
  //-     h4 toggle StyleTile / PROTO
  //- h1(ng-show="kissa") Style guide
  //- h1(ng-hide="kissa") Proto
  h1 Sek Prototest and Style guide
//- div.styletest 
//-   h1 tester
  

