div(ng-include='"components/navbar/navbar.html"')


  

.page.styletile.block-group
  .hero 
    
  .aside 
  .main
    .logo
    .sample
      h3 Samples
       h1 Bolder the headline 
         strong Bolder 
         | the typeface
       hr
       h3 The standout must stand out
       h2 Even the subheadlines can look good
       p The new visual identity is a facelift from the previous one but it’s designed to live and react more in time. It is designed to be simple, flexible, efficient, rich, distinctive and powerful. It helps us to tell our story in a modern way. In many different channels. For current and new clients.
       p But most significantly it allows us to be creative (and still get paid).
       a(href='#') This is an example of a text link.
       hr
       
       
       
    .adjectives
      p.adjective inspiration
      p.adjective attitude
      p.adjective thinking
      p.adjective methods
      p.adjective goals
      p.adjective ways to deliver
      p.adjective possibilities
      p.adjective you
      p.adjective more for our clients
    .typo
    hr
    .elements 
      h2 Elements
      .buttons
      h3 Button swatches
        ul.buttons
          li.button-1.button 1
          li.button-2.button 2
          li.button-3.button 3
          li.button-4.button 4
    hr
    .images 
      h2 Brand Images
  .secondary 
    .colors
      h3 Colour swatches
        ul.colors
          li.color-1
          li.color-2
          li.color-3
          li.color-4
          li.color-5
          li.color-6
    .gradients
       h3 Gradient swatches
        ul.gradients
          li.gradient-1
